<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="srtPath" value="C:\Users\Admin\AppData\Local\Plex Media Server\Media\localhost\,D:\Downloads\" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>